<p>This is the partial for view 1.</p>

<button class="btn btn-success" type="button" ng-click="test()">
    <span class="glyphicon glyphicon-ok"></span>
   TEST
</button>
<input type="text" ng-model="time"/>